/* src/App.css */

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('../src/logo.jpg') no-repeat center center fixed; /* Imagen de fondo */
  background-size: cover; /* La imagen cubre todo el fondo */
}

.register-wrapper {
  display: flex;
  flex-direction: row; /* Coloca los elementos en una fila */
  justify-content: center; /* Centra los elementos horizontalmente */
  align-items: center; /* Centra los elementos verticalmente */
  width: 80%;
  height: 90%;
}

.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%; /* Mitad derecha */
  background-color: white; /* Fondo blanco para el formulario */
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.extra-space {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%; /* Mitad izquierda */
  margin-right: 20px; /* Añadir un margen para separar los elementos */
}

.extra-space img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Media Queries para responsividad */
@media (max-width: 1024px) {
  .register-wrapper {
    flex-direction: column; /* Cambia a columna en pantallas más pequeñas */
  }

  .register-container {
    width: 80%; /* Ajusta el ancho del formulario */
    margin: 10px; /* Ajusta el margen en pantallas pequeñas */
  }

  .extra-space {
    width: 80%;
    margin: 0 0 20px 0; /* Añadir margen inferior */
  }

  .extra-space img {
    border-radius: 8px;
  }
}

@media (max-width: 768px) {
  .register-container {
    width: 100%;
    margin: 10px;
  }

  .social-login {
    flex-direction: column; /* Poner los botones en una columna en pantallas pequeñas */
  }

  .social-login button {
    width: 100%;
    margin-bottom: 10px; /* Añadir margen inferior entre los botones en pantallas pequeñas */
  }
}

@media (max-width: 480px) {
  .register-container {
    padding: 15px;
  }

  .logo img {
    width: 80px; /* Ajustar el tamaño del logo en pantallas más pequeñas */
  }
}
